<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=VT323&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style404.css">
    <title>404: Acid Pin</title>
    </head>
<body>
        <div class="row"> 
                <div class="column"> 
                    <div class="side">
    <header><%= message %></header>
    <h2><%= error.status %></h2>
    </div>
<div class="main">
     <img id="therm" src="/images/thermalcomp.jpg">
        <img id="barrel" src="/images/acidbarrel.svg"></img>
    </div>
    <p><%= error.stack %></p>

   </div>
   </div>

    
</body>
</html>


