<%- include('./partials/header') %>

<div class="card teal lighten-1">
    <div class="card-image">
    <img id="indexpic" src="/images/indexworkout.png">
       <h5 class="cyan-text text-lighten-5">Please Log-In</h5>
    </div>
     <ul>
        <li>
        <% if (user) { %>
          <a href="/logout"><i class="material-icons">trending_flat</i>Log Out</a>
        <% } else { %>
          <a href="/auth/google" class=" teal lighten-5 "><i class="material-icons">vpn_key</i>Login with Google</a>
        <% } %>
        </li>
      </ul>
</div>

   </ul>
 </div>
 
 <%- include('./partials/footer') %>