body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: rgb(45,252,255);
background: linear-gradient(0deg, rgba(45,252,255,1) 0%, #ffcc80  100%) no-repeat center center fixed;
background-size: cover;
}

a {
  color: #00B7FF;
}

#indexpic {
height: 50%;
width: 100%;
}
.roboto {
  font-family: 'Roboto', sans-serif;
}

.monoto {
  font-family: 'Monoton' ;
}
.delete {
  background-color: rgb(254, 89, 89);
  padding: 8px;
  border: solid 2px white;
}