body{
 font-family: 'VT323', monospace;
 background-color: #d314c9; /* For browsers that do not support gradients */
 background-image: repeating-radial-gradient(#d314c9, yellow 10%, #8ed507 15%);
}
.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */

  
  img {
    margin-top: 8px;
    vertical-align: middle;
    float: right;
  }
  .side{
      flex: 30%;
  }
  .main{
      flex: 70%
  }
  

header {
    background-color: rgb(142, 213, 7);
    color:  rgba(255, 255, 255);
    font-size: 8em;
    width: 500px;
}

h2 {
    color: black;
    background-color: rgb(255, 255, 0);
    font-size: 5em;
    width: 500px;
}

p { 
    background-color: black;
    color: rgb(142, 213, 7);
    font-size: 1em;
    width: 500px;
}

#barrel {
    height: 40%;
    width: 40%;
    margin-top: 0%;
    margin-left: 0%;
}

#therm { 
   margin-bottom: 0%;
   margin-left: 0%;
   height: 25%;
width: 25%;
padding-right:0%;
}
