<%- include('../partials/header') %>
<h5>Menu</h5>

<div class="row">
                <div class="col s6 m4">
                  <div class="card teal lighten-1">
                    <div class="card-image">
                      <img  class="responsive-img"  src="/images/meal.jpeg">
                      <span class="card-title">Meal Planner</span>
                    </div>
                    <div class="card-content">
                      <p>Plan nutritious meals for today and days to come. </p>
                    </div>
                    <div class="card-action">
                      <a href="/meals">Meal Planner</a>
                    </div>
                  </div>
                </div>
             

                <div class="col s6 m4">
                  <div class="card teal lighten-1">
                    <div class="card-image">
                      <img class="responsive-img" src="/images/workout.jpeg">
                      <span class="card-title">Workout Planner</span>
                    </div>
                    <div class="card-content">
                      <p>Plan nutritious meals for today and days to come. </p>
                    </div>
                    <div class="card-action">
                      <a href="/workouts">Workout Planner</a>
                    </div>
                  </div>
                </div>
        </div>
        <div class="row">
                <div class="col s6 m4">
                  <div class="card teal lighten-1">
                    <div class="card-image">
                      <img class="responsive-img" src="/images/journal.jpeg">
                      <span class="card-title">Journal</span>
                    </div>
                    <div class="card-content">
                      <p>Plan nutritious meals for today and days to come. </p>
                    </div>
                    <div class="card-action">
                      <a href="/journal">Journal</a>
                    </div>
                  </div>
                </div>
                
                <div class="col s6 m4">
                  <div class="card teal lighten-1">
                    <div class="card-image">
                      <img class="responsive-img" src="/images/resources.jpeg">
                      <span class="card-title">Resources</span>
                    </div>
                    <div class="card-content">
                      <p>Plan nutritious meals for today and days to come. </p>
                    </div>
                    <div class="card-action">
                      <a href="/resources">Resources</a>
                    </div>
                  </div>
                </div>
             </div>

  
<%- include('../partials/footer') %>