<%- include('../partials/header') %>



  <div class="card-panel teal lighten-1">
       <h5><%= title %></h5>
        <h5 class="cyan-text text-lighten-5">Please Log-In</h5>
      <br>
    <form id="login">
        <input value= "username" type="input"></input><br>
        <br>
        <input value="password" type="input"></input>
        <input type="submit" value="Log-In"></input>
    </form>
</div>
 
    </ul>
  </div>
  

<%- include('../partials/footer') %>