<%- include('../partials/header') %>

<div class="col s6 m7">
<div class="card teal lighten-1">
              <div class="card-image">
             <img src=""></img><a href="/meals">Meals</a></div></div></div>
             <div class="col s6 m7">
             <div class="card teal lighten-1">
                     <div class="card-image">
              <img src=""><a href="/workouts"> Work-outs</a></div></div></div>
              <div class="col s6 m7">
              <div class="card teal lighten-1">
                            <div class="card-image">
             <img src=""><a href="/">Fitness Journal</a></div></div></div>
             <div class="col s6 m7">
             <div class="card teal lighten-1">
                     <div class="card-image">
             <img src=""><a href="/"> Resources</a></div></div></div>

 
  
<%- include('../partials/footer') %>